*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.wasm
*.s
*.dot
*.abi.hpp
*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc
etc/aacio/node_*
var/lib/node_*
.vscode
.idea/
*.iws
.DS_Store


# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# .vscode
.vscode/*

build/*
build-debug/*
