[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/aacio/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/aacio/appbase
        ignore = dirty
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/AACIO/musl.git
	branch = aacio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/AACIO/libcxx.git
	branch = aacio
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/AACIO/binaryen

[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/aacio/berkeley-softfloat-3
[submodule "externals/magic_get"]
	path = externals/magic_get
	url = https://github.com/AACIO/magic_get
[submodule "libraries/fc"]
	path = libraries/fc
	url = https://github.com/AACIO/fc
